#ID TYPE	NAME		CONSUMPTION	1stTIME	2ndTIME	STARTTEMP	STOPTEMP
1 	thermal	bojler1 	1300		0		70		45			70
2 	thermal	bojler2 	1300		0		0		45			70
3	thermal	bojler3 	1300		0		0		80			70
4	generic	fukar1		1000
5	generic	fukar2		1000

